.container{
  position: relative;
  /* color: white; */
  margin-top: 70px;
  text-align: center;
}
.description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder; 
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6); 
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
  font-size: x-large;
  color: black;
}
.description_cover{
  border-radius: 10px;
  opacity: 0.7;
}
.read_more{
  padding: 5px 10px;
  background-color: #005bb5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.description a{
  text-decoration: none;
}